ol {
    background-color: brown;
}

header {
    background-color: black;
}

main {
    background-color: coral;
}

body {
    background-color: bisque;
    padding: 25%;
    word-spacing: 25%;
    line-height: 40px;
}